In [1]:
import pandas as pd
import re

In [4]:
with open('conta.txt', 'r') as file:
    texto = file.read().replace('\n', ' ')

In [5]:
with open('texto.txt', 'r') as file:
    texto = file.read().replace('\n', ' ')

In [297]:
#Assumindo que a primeira palavra após N DA INSTALAÇÃO vai ser o número da instalação
n_instalação = re.search('N° DA INSTALAÇÃO (\w+)', texto).group(1)
n_instalação

'MTE0014877'

In [298]:
#Assumindo que a palavra entre CPF?CNPJ e INC. EST vai ser o CPF/CNPJ
CPF_CNPJ = re.search('CPF/CNPJ: (.*) INSC. EST', texto).group(1)
CPF_CNPJ

'05.055.735/0001-36'

In [299]:
#Assumindo que a frase entre 'leitura anterior' e 'leitura atual' excluindo as duas primeiras palavras (mes e dia) são o local
local = re.search('Leitura anterior (.*) Leitura atual', texto).group(1)
local = local.split(' ', 2)[2]
local

'CONDOMINIO E-TOWER SAO PAULO'

In [300]:
#Assumindo que a primeira palavra após GRUPO vai ser o grupo
grupo = re.search('Grupo (\w+)', texto).group(1)
grupo

'A'

In [301]:
#Assumindo que a primeira palavra após GRUPO vai ser o grupo
subgrupo = re.search('Subgrupo (\w+)', texto).group(1)
subgrupo

'A4'

In [302]:
#Assumindo que a primeira palavra após Modalidade Tarifária vai ser a modalidade tarifária
modalidade_tarifaria = re.search('Modalidade Tarifária (\w+)', texto).group(1)
modalidade_tarifaria

'Verde'

In [303]:
#Assumindo que a energia_contratada vai ser um número aparecendo logo após o texto Energia Contratada
energia_contratada = re.search('Demanda / Energia Contratada ([\d,\.]+)', texto).group(1)
energia_contratada

'1.100,0'

In [304]:
#Assumindo que o sétimo string após 'Série Base de cálculo Alíquota ICMS' vai ser a série
serie = re.search('Série Base de cálculo Alíquota ICMS (.*)', texto).group(1)
serie = serie.split(' ', 8)[8]
serie = serie.split()[0]
serie

'ACL'

In [305]:
#Assumindo que após a palavra Hora Ponta virá a tabela que terá 13 linhas
tabela = re.search('Hora Ponta (.*)', texto).group(1)
tabela = tabela.split()
months = tabela[:13]
demanda = tabela[13:26]
consumo_hora_ponta = tabela[26:39]
consumo_hora_fora_ponta = tabela[39:52]
consumo_hora_fora_ponta

['153.680,5',
 '151.548,2',
 '158.159,4',
 '160.611,8',
 '197.036,6',
 '184.986,7',
 '195.434,6',
 '132.169,7',
 '183.348,7',
 '176.524,6',
 '176.438,9',
 '172.877,0',
 '157.726,8']

In [306]:
#Assumindo que o PIS/PASEP vai estar entre parenteses após a frase PIS/PASEP
PIS_PASEP = re.search('PIS/PASEP \((.*?)\)', texto).group(1)
PIS_PASEP

'0,65%'

In [307]:
#Assumindo que o COFINS vai estar entre parenteses após a frase COFINS
COFINS = re.search('COFINS \((.*?)\)', texto).group(1)
COFINS

'2,98%'

In [308]:
keys = ['n_instalação',
          'CPF_CNPJ',
          'local',
          'grupo',
          'subgrupo',
          'modalidade_tarifaria',
          'energia_contratada',
          'serie',
          'months',
          'demanda',
          'consumo_hora_ponta',
          'consumo_hora_fora_ponta',
          'PIS_PASEP',
          'COFINS'
         ]

values = [n_instalação,
          CPF_CNPJ,
          local,
          grupo,
          subgrupo,
          modalidade_tarifaria,
          energia_contratada,
          serie,
          months,
          demanda,
          consumo_hora_ponta,
          consumo_hora_fora_ponta,
          PIS_PASEP,
          COFINS
         ]
dictionary = dict(zip(keys, values))
print(dictionary)

{'n_instalação': 'MTE0014877', 'CPF_CNPJ': '05.055.735/0001-36', 'local': 'CONDOMINIO E-TOWER SAO PAULO', 'grupo': 'A', 'subgrupo': 'A4', 'modalidade_tarifaria': 'Verde', 'energia_contratada': '1.100,0', 'serie': 'ACL', 'months': ['JUL/21', 'JUN/21', 'MAI/21', 'MAI/21', 'ABR/21', 'MAR/21', 'FEV/21', 'JAN/21', 'DEZ/20', 'NOV/20', 'OUT/20', 'SET/20', 'AGO/20'], 'demanda': ['1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0', '1.100,0'], 'consumo_hora_ponta': ['14.265,7', '14.164,1', '13.509,7', '11.669,8', '18.131,8', '17.291,5', '16.670,2', '10.946,2', '17.631,4', '15.661,4', '16.853,8', '16.004,9', '13.851,4'], 'consumo_hora_fora_ponta': ['153.680,5', '151.548,2', '158.159,4', '160.611,8', '197.036,6', '184.986,7', '195.434,6', '132.169,7', '183.348,7', '176.524,6', '176.438,9', '172.877,0', '157.726,8'], 'PIS_PASEP': '0,65%', 'COFINS': '2,98%'}

In [309]:
pd.DataFrame(dictionary)

,n_instalação,CPF_CNPJ,local,grupo,subgrupo,modalidade_tarifaria,energia_contratada,serie,months,demanda,consumo_hora_ponta,consumo_hora_fora_ponta,PIS_PASEP,COFINS
0,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,JUL/21,"1.100,0","14.265,7","153.680,5","0,65%","2,98%"
1,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,JUN/21,"1.100,0","14.164,1","151.548,2","0,65%","2,98%"
2,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,MAI/21,"1.100,0","13.509,7","158.159,4","0,65%","2,98%"
3,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,MAI/21,"1.100,0","11.669,8","160.611,8","0,65%","2,98%"
4,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,ABR/21,"1.100,0","18.131,8","197.036,6","0,65%","2,98%"
5,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,MAR/21,"1.100,0","17.291,5","184.986,7","0,65%","2,98%"
6,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,FEV/21,"1.100,0","16.670,2","195.434,6","0,65%","2,98%"
7,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,JAN/21,"1.100,0","10.946,2","132.169,7","0,65%","2,98%"
8,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,DEZ/20,"1.100,0","17.631,4","183.348,7","0,65%","2,98%"
9,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,NOV/20,"1.100,0","15.661,4","176.524,6","0,65%","2,98%"
10,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,OUT/20,"1.100,0","16.853,8","176.438,9","0,65%","2,98%"
11,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,SET/20,"1.100,0","16.004,9","172.877,0","0,65%","2,98%"
12,MTE0014877,05.055.735/0001-36,CONDOMINIO E-TOWER SAO PAULO,A,A4,Verde,"1.100,0",ACL,AGO/20,"1.100,0","13.851,4","157.726,8","0,65%","2,98%"